workflows/Create WordPress users from KlickTipp and tag contacts based on comments-13721/13721-create-wordpress-users-from-klicktipp-and-tag-contacts-based-on-comments.webp
{"meta":{"instanceId":"95b3ab5a70ab1c8c1906357a367f1b236ef12a1409406fd992f60255f0f95f85","templateCredsSetupCompleted":true},"nodes":[{"id":"b7c0f731-f332-48a9-977c-68cb9deaf3ee","name":"Form signup for Wordpress in KlickTipp form","type":"n8n-nodes-klicktipp.klicktippTrigger","notes":"This node triggers when a contact made a submission in the RAW form that is connected to the according webhook in KlickTipp.","position":[-544,0],"webhookId":"028af4a0-dc44-4021-8862-5a107b506c07","parameters":{},"credentials":{"klickTippApi":{"id":"K9JyBdCM4SZc1cXl","name":"DEMO KlickTipp account"}},"notesInFlow":true,"typeVersion":1},{"id":"1399f75e-df89-4b19-9f3c-8c6438feb5ad","name":"Set username & password","type":"n8n-nodes-base.set","notes":"This node generates a fitting username and password for the creation of a Wordpress user with.","position":[-64,0],"parameters":{"options":{},"assignments":{"assignments":[{"id":"5a046e19-2997-4d58-9bf6-42b3556c0edb","name":"username","type":"string","value":"={{\n(\n  ($json.fieldFirstName ?? '') + \n  ($json.fieldLastName ?? '')\n)\n.normalize('NFD')\n.replace(/[\\u0300-\\u036f]/g, '')\n.replace(/[^a-zA-Z0-9]/g, '')\n.toLowerCase() + '_' + $node[\"Form signup for Wordpress in KlickTipp form\"].json.id\n}}"},{"id":"7cbaf429-6aab-4399-b45a-bd08134fce46","name":"temporary_password","type":"string","value":"={{ \n  // Generate a random 12-digit numeric password\n\n  // Step 1: Math.random() generates a number between 0 and 1\n  // Step 2: Multiply by 900000000000 to get a range of 0–899999999999\n  // Step 3: Add 100000000000 so the number is always 12 digits (no leading zero issue)\n  // Step 4: Math.floor() removes decimals\n  // Step 5: Convert to string so n8n treats it as text\n\n  Math.floor(100000000000 + Math.random() * 900000000000).toString()\n}}"}]}},"notesInFlow":true,"typeVersion":3.4},{"id":"7c18646d-63e0-401a-b33e-7e0e2a66afc4","name":"Update Wordpress user ID in KlickTipp","type":"n8n-nodes-klicktipp.klicktipp","notes":"This node updates the contact in KlickTipp in order to save the generated Wordpress user data.","position":[1056,-16],"parameters":{"fields":{"dataFields":[{"fieldId":"field229462","fieldValue":"={{ $json.id }}"},{"fieldId":"field228982","fieldValue":"={{ $('Set username & password').item.json.username }}"},{"fieldId":"field228983","fieldValue":"={{ $('Set username & password').item.json.temporary_password }}"}]},"resource":"subscriber","operation":"update","subscriberId":"={{ $('Form signup for Wordpress in KlickTipp form').item.json.id }}","identifierType":"id"},"credentials":{"klickTippApi":{"id":"K9JyBdCM4SZc1cXl","name":"DEMO KlickTipp account"}},"notesInFlow":true,"typeVersion":3},{"id":"0c475660-1013-479b-8690-d8b2c5ebf5d3","name":"Get last comments from Wordpress","type":"n8n-nodes-base.httpRequest","notes":"This node gets all approved comments from the last 24 hours.","position":[-544,416],"parameters":{"url":"https://cht.klicktipptest.de/wp-json/wp/v2/comments?context=edit","options":{"response":{}},"sendQuery":true,"authentication":"predefinedCredentialType","queryParameters":{"parameters":[{"name":"per_page","value":"100"},{"name":"orderby","value":"date"},{"name":"order","value":"desc"},{"name":"status","value":"approve"},{"name":"after","value":"={{ $now.minus({ hours: 24 }).toISO() }}"}]},"nodeCredentialType":"wordpressApi"},"credentials":{"wordpressApi":{"id":"sY2v9JqHgAyc5wGt","name":"Wordpress CHT Test account"}},"notesInFlow":true,"typeVersion":4},{"id":"89d27411-d9a0-44ff-9e33-1b5ea1ad8218","name":"Check for contact existence","type":"n8n-nodes-klicktipp.klicktipp","notes":"This node checks if the Wordpress user already exists in KlickTipp.","onError":"continueErrorOutput","position":[176,416],"parameters":{"resource":"subscriber","operation":"get","lookupEmail":"={{ $json.email }}"},"credentials":{"klickTippApi":{"id":"K9JyBdCM4SZc1cXl","name":"DEMO KlickTipp account"}},"notesInFlow":true,"typeVersion":3},{"id":"4eacca0b-b4c1-4026-bf80-9dfa23dae2e4","name":"Write comment into contact field","type":"n8n-nodes-klicktipp.klicktipp","notes":"This node updates the contact in KlickTipp in order to write the comment into a custom field.","position":[1056,400],"parameters":{"fields":{"dataFields":[{"fieldId":"field229468","fieldValue":"={{\n  // Get the HTML content from the WordPress node\n  $('Get last comments from Wordpress').item.json.content.rendered\n  \n    // Remove all HTML tags (anything between < and >)\n    .replace(/<[^>]*>/g, '')\n    \n    // Remove leading and trailing whitespace\n    .trim()\n}}"}]},"resource":"subscriber","operation":"update","subscriberId":"={{ $json.id }}","identifierType":"id"},"credentials":{"klickTippApi":{"id":"K9JyBdCM4SZc1cXl","name":"DEMO KlickTipp account"}},"notesInFlow":true,"typeVersion":3},{"id":"249b0da0-f738-499f-8fe8-50bb992bab15","name":"Check relevant segment","type":"n8n-nodes-base.switch","notes":"This node checks to which segment this contact should be added.","position":[1312,400],"parameters":{"rules":{"values":[{"outputKey":"Landingpage A comment","conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c68abaae-bf0a-4ba3-b6c5-faede593cf83","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $('Get last comments from Wordpress').item.json.link }}","rightValue":"https://cht.klicktipptest.de/wordpress-comments-klicktipp-integration"}]},"renameOutput":true},{"outputKey":"Landingpage B comment","conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e6ce3bdd-f807-462e-a15a-281aa0974a81","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $('Get last comments from Wordpress').item.json.link }}","rightValue":"ABC"}]},"renameOutput":true}]},"options":{"allMatchingOutputs":true}},"notesInFlow":true,"typeVersion":3.4},{"id":"9524b54b-50bf-45c1-9b01-f16f7b6ccd2c","name":"Tag contact","type":"n8n-nodes-klicktipp.klicktipp","notes":"This node add the contact to the according segment by adding the desired Tag.","position":[1536,304],"parameters":{"email":"={{ $('Search WP Users with role Subscriber').item.json.email }}","tagId":["14162905"],"resource":"contact-tagging"},"credentials":{"klickTippApi":{"id":"K9JyBdCM4SZc1cXl","name":"DEMO KlickTipp account"}},"notesInFlow":true,"typeVersion":3},{"id":"e5198387-9882-4520-8b9a-30027c3ce488","name":"Tag contact1","type":"n8n-nodes-klicktipp.klicktipp","notes":"This node add the contact to the according segment by adding the desired Tag.","position":[1536,496],"parameters":{"email":"={{ $('Search WP Users with role Subscriber').item.json.email }}","tagId":["14176702"],"resource":"contact-tagging"},"credentials":{"klickTippApi":{"id":"K9JyBdCM4SZc1cXl","name":"DEMO KlickTipp account"}},"notesInFlow":true,"typeVersion":3},{"id":"1d4535c1-9174-434a-a33a-047fcfce7b26","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-800,-144],"parameters":{"color":7,"width":416,"height":912,"content":"## 1. Inbound Form submissions and comments"},"typeVersion":1},{"id":"a947590a-7142-48b0-b6ae-4c4d964d7c09","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-128,-144],"parameters":{"color":7,"width":224,"height":912,"content":"## 3. Identity & Security Logic"},"typeVersion":1},{"id":"e0f82631-7da0-4a72-955a-7550c7bee4d1","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[112,-144],"parameters":{"color":7,"width":464,"height":912,"content":"## 4. WordPress Account Management"},"typeVersion":1},{"id":"0734ce3e-c3cd-4aff-95c0-12a47cd805ea","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[992,-144],"parameters":{"color":7,"width":224,"height":912,"content":"## 6. Data Merging & Writing"},"typeVersion":1},{"id":"bf24748a-1255-4b37-86e9-2ca71faec64a","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1232,-144],"parameters":{"color":7,"width":502,"height":912,"content":"## 7. Segmentation & Tagging"},"typeVersion":1},{"id":"b971fad4-32c1-41ca-bb75-287be43a2b8f","name":"Search WP Users with role Subscriber","type":"n8n-nodes-base.httpRequest","notes":"This node gets further data from the Wordpress user that left a comment which was already approved. The search is already filtered down to Wordpress users with the role → Subscriber.","position":[-64,416],"parameters":{"url":"https://cht.klicktipptest.de/wp-json/wp/v2/users","options":{},"sendQuery":true,"authentication":"predefinedCredentialType","queryParameters":{"parameters":[{"name":"context","value":"edit"},{"name":"search","value":"={{ $json.author_email }}"},{"name":"roles","value":"subscriber"}]},"nodeCredentialType":"wordpressApi"},"credentials":{"wordpressApi":{"id":"sY2v9JqHgAyc5wGt","name":"Wordpress CHT Test account"}},"notesInFlow":true,"typeVersion":4},{"id":"03016b43-84ad-4fc4-b23b-55ddb7daae0d","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[592,-144],"parameters":{"color":7,"width":384,"height":912,"content":"## 5. Error handling"},"typeVersion":1},{"id":"8ff1e0ad-b677-416d-a43c-5253d28e0f1a","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[-1536,-144],"parameters":{"width":727,"height":1756,"content":"Community Node Disclaimer: This workflow uses KlickTipp community nodes.\n\n## Introduction\nThis workflow automates the bridge between **KlickTipp** and **WordPress**, focusing on two primary objectives: automating user account creation upon signup and synchronizing user interactions (comments) back into the marketing database. \n\nBy linking these systems, you ensure that every new lead automatically receives access to your WordPress site and that their engagement on your landing pages is tracked directly on their contact profile in KlickTipp.\n\n## How it works\n\n### 1. WordPress User Creation (Inbound Signup)\nTriggered by a **KlickTipp RAW form submission** (\"Form signup for Wordpress\"):\n- **Submission Filter**: A filter node checks whether the submissions carries consent for the ceration of users.\n- **Identity Generation**: A Code node automatically generates a unique, URL-safe **username** based on the contact's first and last name (normalized to remove special characters) and a secure **12-character random password**.\n- **Account Provisioning**: The workflow sends a POST request to the WordPress REST API to create a new user with the role of `subscriber`.\n- **Data Feedback Loop**: Once created, the new WordPress **User ID**, **Username**, and **Password** are written back into KlickTipp custom fields (`field229462`, `field228982`, `field228983`). This allows you to send automated welcome emails containing their login credentials.\n\n### 2. Comment Synchronization & Tracking\nTriggered on a schedule or manual execution (\"Get last comments from Wordpress\"):\n- **Fetch Activity**: Retrieves all approved WordPress comments from the last 24 hours.\n- **User Identification**: Searches the WordPress database for users with the `subscriber` role matching the comment author's email to ensure only registered members are synced.\n- **Contact Verification**: Checks if the commenter exists in KlickTipp. If not, the process stops for that item to prevent orphaned data.\n- **Content Cleaning**: The HTML comment content is stripped of tags using Regex (e.g., `<p>` → text) and written into a specific KlickTipp custom field (`field229468`).\n\n### 3. Segmentation & Interest Tagging\nAfter a comment is recorded, the workflow evaluates the source of the interaction:\n- **Switch Logic**: It checks the URL (`link`) where the comment was posted.\n- **Dynamic Tagging**: \n  - If the comment was on **Landingpage A**, the contact is tagged with ID `14162905`.\n  - If the comment was on **Landingpage B**, the contact is tagged with ID `14176702`.\n- This allows for highly targeted follow-up campaigns based on which specific topics or pages the user is engaging with.\n\n## Setup Instructions\n\n### 1) KlickTipp Preparation\n- Create the following **custom fields** to store WordPress data:\n  - `WP_User_ID` (mapped to `field229462`)\n  - `WP_Username` (mapped to `field228982`)\n  - `WP_Password` (mapped to `field228983`)\n  - `Last_Comment_Text` (mapped to `field229468`)\n- Set up a RAW HTML form in KlickTipp and connect its success action to the n8n webhook URL.\n\n### 2) WordPress Preparation\n- Ensure the **WordPress REST API** is active.\n- Create an **Application Password** for a WordPress user with administrative rights (required to create other users and read comments).\n- Ensure your landing page URLs match the strings defined in the \"Check relevant segment\" switch node.\n\n### 3) Credential Configuration\n- **KlickTipp API**: Provide your KlickTipp username and API password.\n- **WordPress API**: Use the \"Basic Auth\" method with your WordPress username and the generated Application Password.\n\n## Customization\n- **Password Strength**: You can modify the `chars` variable in the \"Set username & password\" node to change password complexity.\n- **Role Management**: Change the `roles` array in the \"Generate Wordpress user\" node if signups should receive different permissions (e.g., `contributor`).\n- **Sync Frequency**: Adjust the `after` parameter in the \"Get last comments\" node and the workflow trigger interval to change how often comments are synced."},"typeVersion":1},{"id":"03298311-5cb0-4c0c-941c-4b5614e28151","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-368,-144],"parameters":{"color":7,"width":224,"height":912,"content":"## 2. Filter requests"},"typeVersion":1},{"id":"3e289c49-5121-4ad6-9407-2da173fb3293","name":"Filter","type":"n8n-nodes-base.filter","notes":"This node filters out all form submissions which did not consent to the user creation.","position":[-304,0],"parameters":{"options":{},"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c8c203a4-d68e-4325-ba8c-b70667971b49","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.field229493 }}","rightValue":"I give consent"}]}},"notesInFlow":true,"typeVersion":2.3},{"id":"f4867283-1895-4f09-82d4-4933ec0027e1","name":"Pull comments trigger","type":"n8n-nodes-base.scheduleTrigger","notes":"This node triggers the flow using a scheduler to pull the comments in Wordpress.","position":[-752,416],"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"notesInFlow":true,"typeVersion":1.3},{"id":"1302c790-7b29-4b1f-b976-82656947f9e2","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","notes":"This node is executed if the user was not found in KlickTipp","position":[656,576],"parameters":{},"notesInFlow":true,"typeVersion":1},{"id":"13bb7cbe-05da-40cb-ad57-00adc0bcf915","name":"Generate Wordpress user from signup1","type":"n8n-nodes-base.httpRequest","notes":"This node creates the according Wordpress user with the role subscriber.","position":[416,-16],"parameters":{"url":"=https://cht.klicktipptest.de/wp-json/wp/v2/users/{{ $json.id }}","method":"POST","options":{},"jsonBody":"={\n  \"roles\": [\"subscriber\"] \n}","sendBody":true,"specifyBody":"json","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi"},"credentials":{"wordpressApi":{"id":"sY2v9JqHgAyc5wGt","name":"Wordpress CHT Test account"}},"notesInFlow":true,"typeVersion":4.3},{"id":"22982e89-874f-4cc3-8ab2-0b9c064e7433","name":"Generate Wordpress user from signup","type":"n8n-nodes-base.wordpress","notes":"This node creates the according Wordpress user with the role subscriber.","onError":"continueErrorOutput","position":[176,0],"parameters":{"name":"={{ $('Form signup for Wordpress in KlickTipp form').item.json.fullname }}","email":"={{ $('Form signup for Wordpress in KlickTipp form').item.json.email }}","lastName":"={{ $('Form signup for Wordpress in KlickTipp form').item.json.fieldLastName }}","password":"={{ $json.temporary_password }}","resource":"user","username":"={{ $json.username }}","firstName":"={{ $('Form signup for Wordpress in KlickTipp form').item.json.fieldFirstName }}","additionalFields":{}},"credentials":{"wordpressApi":{"id":"sY2v9JqHgAyc5wGt","name":"Wordpress CHT Test account"}},"notesInFlow":true,"typeVersion":1},{"id":"902a9541-1150-4f14-9fae-86e0fe4f44f8","name":"Search WP Users with role Subscriber1","type":"n8n-nodes-base.httpRequest","notes":"This node gets further data from the Wordpress user that left a comment which was already approved. The search is already filtered down to Wordpress users with the role → Subscriber.","position":[656,160],"parameters":{"url":"https://cht.klicktipptest.de/wp-json/wp/v2/users","options":{},"sendQuery":true,"authentication":"predefinedCredentialType","queryParameters":{"parameters":[{"name":"context","value":"edit"},{"name":"search","value":"={{ $('Form signup for Wordpress in KlickTipp form').item.json.email }}"}]},"nodeCredentialType":"wordpressApi"},"credentials":{"wordpressApi":{"id":"sY2v9JqHgAyc5wGt","name":"Wordpress CHT Test account"}},"notesInFlow":true,"typeVersion":4},{"id":"a9b94a94-7e0b-4ef9-a3d3-a1f04ff7bf0d","name":"Update a user","type":"n8n-nodes-base.wordpress","notes":"This node amends the nickname of an already existing user in wordpress by adding the KlickTipp contact ID.","position":[848,160],"parameters":{"userId":"={{ $json.id }}","resource":"user","operation":"update","updateFields":{"nickname":"={{ $json.nickname }}_{{ $('Form signup for Wordpress in KlickTipp form').item.json.id }}"}},"credentials":{"wordpressApi":{"id":"sY2v9JqHgAyc5wGt","name":"Wordpress CHT Test account"}},"notesInFlow":true,"typeVersion":1},{"id":"9e6d6a91-06d1-45f9-9d80-43aa8993078a","name":"Update Wordpress user ID in KlickTipp1","type":"n8n-nodes-klicktipp.klicktipp","notes":"This node updates the contact in KlickTipp in order to save the generated Wordpress user data.","position":[1056,160],"parameters":{"fields":{"dataFields":[{"fieldId":"field229462","fieldValue":"={{ $json.id }}"},{"fieldId":"field228982","fieldValue":"={{ $json.username }}"}]},"resource":"subscriber","operation":"update","subscriberId":"={{ $('Form signup for Wordpress in KlickTipp form').item.json.id }}","identifierType":"id"},"credentials":{"klickTippApi":{"id":"K9JyBdCM4SZc1cXl","name":"DEMO KlickTipp account"}},"notesInFlow":true,"typeVersion":3}],"pinData":{},"connections":{"Filter":{"main":[[{"node":"Set username & password","type":"main","index":0}]]},"Update a user":{"main":[[{"node":"Update Wordpress user ID in KlickTipp1","type":"main","index":0}]]},"Pull comments trigger":{"main":[[{"node":"Get last comments from Wordpress","type":"main","index":0}]]},"Check relevant segment":{"main":[[{"node":"Tag contact","type":"main","index":0}],[{"node":"Tag contact1","type":"main","index":0}]]},"Set username & password":{"main":[[{"node":"Generate Wordpress user from signup","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[]]},"Check for contact existence":{"main":[[{"node":"Write comment into contact field","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Get last comments from Wordpress":{"main":[[{"node":"Search WP Users with role Subscriber","type":"main","index":0}]]},"Write comment into contact field":{"main":[[{"node":"Check relevant segment","type":"main","index":0}]]},"Generate Wordpress user from signup":{"main":[[{"node":"Generate Wordpress user from signup1","type":"main","index":0}],[{"node":"Search WP Users with role Subscriber1","type":"main","index":0}]]},"Generate Wordpress user from signup1":{"main":[[{"node":"Update Wordpress user ID in KlickTipp","type":"main","index":0}]]},"Search WP Users with role Subscriber":{"main":[[{"node":"Check for contact existence","type":"main","index":0}]]},"Search WP Users with role Subscriber1":{"main":[[{"node":"Update a user","type":"main","index":0}]]},"Update Wordpress user ID in KlickTipp":{"main":[[]]},"Form signup for Wordpress in KlickTipp form":{"main":[[{"node":"Filter","type":"main","index":0}]]}}}