workflows/Send Stripe invoice reminders with GPT-4.1-mini, Google Sheets and Slack-12741/12741-send-stripe-invoice-reminders-with-gpt-4-1-mini--google-sheets-and-slack.webp
{"id":"jX05WRHFXIHBxeA6","meta":{"instanceId":"f6e8ad6763839b50a3ab3bea5512dc60976f81a6273178925f946fc7a00549a8"},"name":"Automated Invoice Payment Reminder and Tracking System","tags":[],"nodes":[{"id":"abc556f0-c07f-4a99-a3a1-f04c0f5af536","name":"Stripe Invoice Trigger","type":"n8n-nodes-base.stripeTrigger","position":[-1504,448],"webhookId":"ceae0e5f-c352-4a4f-a46c-de3ccba39a91","parameters":{"events":["invoice.created","invoice.payment_failed"]},"typeVersion":1},{"id":"636888eb-023a-4acc-9240-c3b9370380f6","name":"Workflow Configuration","type":"n8n-nodes-base.set","position":[-1280,448],"parameters":{"options":{},"assignments":{"assignments":[{"id":"id-1","name":"companyName","type":"string","value":"<__PLACEHOLDER_VALUE__Your Company Name__>"},{"id":"id-2","name":"supportEmail","type":"string","value":"<__PLACEHOLDER_VALUE__Support Email Address__>"},{"id":"id-3","name":"crmApiUrl","type":"string","value":"<__PLACEHOLDER_VALUE__CRM API Endpoint URL__>"}]},"includeOtherFields":true},"typeVersion":3.4},{"id":"4183145c-c5e4-47e2-bbb6-96f033cffd30","name":"Normalize Invoice Data","type":"n8n-nodes-base.set","position":[-1056,448],"parameters":{"options":{},"assignments":{"assignments":[{"id":"id-1","name":"clientName","type":"string","value":"={{ $json.customer.name }}"},{"id":"id-2","name":"clientEmail","type":"string","value":"={{ $json.customer.email }}"},{"id":"id-3","name":"invoiceNumber","type":"string","value":"={{ $json.number }}"},{"id":"id-4","name":"invoiceAmount","type":"number","value":"={{ $json.amount_due / 100 }}"},{"id":"id-5","name":"currency","type":"string","value":"={{ $json.currency.toUpperCase() }}"},{"id":"id-6","name":"dueDate","type":"string","value":"={{ new Date($json.due_date * 1000).toISOString() }}"},{"id":"id-7","name":"paymentStatus","type":"string","value":"={{ $json.status }}"},{"id":"id-8","name":"invoiceUrl","type":"string","value":"={{ $json.hosted_invoice_url }}"}]},"includeOtherFields":true},"typeVersion":3.4},{"id":"4432d413-c011-43f6-9f53-c9b45ef7955d","name":"Generate Payment Reminder","type":"@n8n/n8n-nodes-langchain.agent","position":[-832,448],"parameters":{"text":"=Client: {{ $json.clientName }}\nEmail: {{ $json.clientEmail }}\nInvoice Number: {{ $json.invoiceNumber }}\nAmount: {{ $json.currency }} {{ $json.invoiceAmount }}\nDue Date: {{ $json.dueDate }}\nPayment Status: {{ $json.paymentStatus }}\nInvoice URL: {{ $json.invoiceUrl }}","options":{"systemMessage":"You are a professional payment reminder assistant.\n\nYour task is to generate a personalized, polite payment reminder email based on the invoice information provided.\n\nGenerate:\n1. A professional email subject line\n2. A personalized email body that:\n   - Addresses the client by name\n   - References the specific invoice number and amount\n   - Includes the due date\n   - Provides a clear call-to-action with the payment link\n   - Maintains a friendly but professional tone\n   - Adjusts tone based on payment status (gentle reminder for pending, more urgent for overdue)\n\nReturn the output in the specified JSON format with subject and body fields."},"promptType":"define","hasOutputParser":true},"typeVersion":3},{"id":"1a52acdf-c26d-4648-b43d-e191209dc727","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-824,672],"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{},"builtInTools":{}},"credentials":{"openAiApi":{"id":"HTy8dVDHzRHtxXLm","name":"n8n free OpenAI API credits"}},"typeVersion":1.3},{"id":"0f927dcd-8c87-4a7f-8b49-35008ea8b764","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[-696,672],"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"subject\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Email subject line\"\n\t\t},\n\t\t\"body\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Email body content in HTML format\"\n\t\t}\n\t}\n}"},"typeVersion":1.3},{"id":"55b9fb08-9ca5-4b92-bf50-915b25e4331c","name":"Route by Payment Status","type":"n8n-nodes-base.switch","position":[-480,432],"parameters":{"rules":{"values":[{"outputKey":"Overdue","conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"or","conditions":[{"id":"id-1","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.paymentStatus }}","rightValue":"overdue"},{"id":"id-2","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.paymentStatus }}","rightValue":"past_due"}]},"renameOutput":true},{"outputKey":"Pending","conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"or","conditions":[{"id":"id-3","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.paymentStatus }}","rightValue":"open"},{"id":"id-4","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.paymentStatus }}","rightValue":"pending"}]},"renameOutput":true},{"outputKey":"Paid","conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"id-5","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.paymentStatus }}","rightValue":"paid"}]},"renameOutput":true}]},"options":{}},"typeVersion":3.4},{"id":"ecb2c078-1378-4067-bd2f-a3ee98e7474c","name":"Log to Google Sheets","type":"n8n-nodes-base.googleSheets","position":[-256,64],"parameters":{"columns":{"value":{},"schema":[],"mappingMode":"autoMapInputData","matchingColumns":["invoiceNumber"]},"options":{},"operation":"appendOrUpdate","sheetName":{"__rl":true,"mode":"name","value":"<__PLACEHOLDER_VALUE__Sheet Name (e.g., Invoice Log)__>"},"documentId":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__Google Sheets Document ID__>"}},"credentials":{"googleSheetsOAuth2Api":{"id":"5b6oIAuqcO9HRb2A","name":"Google Sheets account 3"}},"typeVersion":4.7},{"id":"a8d36820-810d-4076-a2e5-73118a53ff3b","name":"Notify Accountant on Slack","type":"n8n-nodes-base.slack","position":[-256,256],"webhookId":"e93be571-b8be-4f10-a258-a4f99404914f","parameters":{"text":"=🚨 *Overdue Invoice Alert*\n\n*Client:* {{ $json.clientName }}\n*Invoice:* {{ $json.invoiceNumber }}\n*Amount:* {{ $json.currency }} {{ $json.invoiceAmount }}\n*Due Date:* {{ $json.dueDate }}\n*Status:* {{ $json.paymentStatus }}\n\n<{{ $json.invoiceUrl }}|View Invoice>","select":"channel","channelId":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__Slack Channel ID or Name__>"},"otherOptions":{}},"typeVersion":2.4},{"id":"97fd80f8-8bfd-4c53-84c6-66d2ddd3443e","name":"Send Reminder Email","type":"n8n-nodes-base.emailSend","position":[-256,448],"webhookId":"13a312e0-4e71-4984-b2f1-9fabac1ac0ed","parameters":{"html":"={{ $json.body }}","options":{},"subject":"={{ $json.subject }}","toEmail":"={{ $json.clientEmail }}","fromEmail":"={{ $('Workflow Configuration').first().json.supportEmail }}"},"typeVersion":2.1},{"id":"a8d21df0-681e-482b-9040-ac4d2137e4fa","name":"Generate Invoice PDF","type":"n8n-nodes-base.convertToFile","position":[-256,640],"parameters":{"options":{"fileName":"=Invoice_{{ $json.invoiceNumber }}.pdf"},"operation":"html"},"typeVersion":1.1},{"id":"5c41e9b0-809c-44f2-9aa6-dc80c5651e32","name":"Schedule Follow-up","type":"n8n-nodes-base.googleCalendar","position":[-256,832],"parameters":{"end":"={{ new Date(Date.now() + 7 * 24 * 60 * 60 * 1000 + 30 * 60 * 1000).toISOString() }}","start":"={{ new Date(Date.now() + 7 * 24 * 60 * 60 * 1000).toISOString() }}","calendar":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__Google Calendar ID__>"},"additionalFields":{"summary":"={{ 'Follow-up: Invoice ' + $json.invoiceNumber + ' - ' + $json.clientName }}","description":"={{ 'Follow up on overdue invoice ' + $json.invoiceNumber + ' for ' + $json.currency + ' ' + $json.invoiceAmount }}"}},"typeVersion":1.3},{"id":"d3f6fb2d-48be-4173-b2eb-38b84f9d1978","name":"CRM Integration","type":"n8n-nodes-base.httpRequest","position":[-32,64],"parameters":{"url":"={{ $('Workflow Configuration').first().json.crmApiUrl }}","method":"POST","options":{},"jsonBody":"={{ { \"invoiceNumber\": $json.invoiceNumber, \"clientName\": $json.clientName, \"amount\": $json.invoiceAmount, \"currency\": $json.currency, \"status\": $json.paymentStatus, \"dueDate\": $json.dueDate } }}","sendBody":true,"specifyBody":"json","authentication":"predefinedCredentialType"},"typeVersion":4.3},{"id":"2735edb0-ab3c-4924-9c7f-6c6ca04ec0ee","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1568,272],"parameters":{"color":7,"width":656,"height":576,"content":"## Trigger & Config"},"typeVersion":1},{"id":"0d35a11f-945a-440a-905f-da0638fa2ffe","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-880,272],"parameters":{"color":7,"width":528,"height":576,"content":"## AI Logic & Routing "},"typeVersion":1},{"id":"9f54312b-cafb-48cf-b3a7-3ff9f01c16fc","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-320,-80],"parameters":{"color":7,"width":480,"height":1216,"content":"## Actions"},"typeVersion":1},{"id":"fc83a97b-fe99-4139-869b-7faaeff61c5d","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-2016,304],"parameters":{"width":400,"height":496,"content":"## Main\nAutomates invoice generation and overdue payment reminders. AI personalizes emails, logs info, notifies accountants, generates PDFs, and schedules follow-ups.\n\n## Setup\n1. Connect Stripe or accounting software trigger\n2. Connect OpenAI for email generation\n3. Connect Google Sheets for logging\n4. Connect Slack for accountant notifications\n5. Connect email for client reminders\n6. Connect PDF node\n7. Connect calendar for follow-ups\n8. Optional CRM integration\n\n**Author:** Hyrum Hurst, AI Automation Engineer\n**Company:** QuarterSmart\n**Contact:** hyrum@quartersmart.com\n"},"typeVersion":1}],"active":false,"pinData":{},"settings":{"executionOrder":"v1"},"versionId":"12793911-1523-4eda-b7d9-58f920bc048a","connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Generate Payment Reminder","type":"ai_languageModel","index":0}]]},"Log to Google Sheets":{"main":[[{"node":"CRM Integration","type":"main","index":0}]]},"Normalize Invoice Data":{"main":[[{"node":"Generate Payment Reminder","type":"main","index":0}]]},"Stripe Invoice Trigger":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Normalize Invoice Data","type":"main","index":0}]]},"Route by Payment Status":{"main":[[{"node":"Log to Google Sheets","type":"main","index":0},{"node":"Notify Accountant on Slack","type":"main","index":0},{"node":"Send Reminder Email","type":"main","index":0},{"node":"Generate Invoice PDF","type":"main","index":0},{"node":"Schedule Follow-up","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Generate Payment Reminder","type":"ai_outputParser","index":0}]]},"Generate Payment Reminder":{"main":[[{"node":"Route by Payment Status","type":"main","index":0}]]}}}